<main>
  <div class="wrapper">
    <div class="image-wrapper">
        <img
        [src]="'../../../assets/images/' + product.getImage"
        alt="Imagem de produto"
        class="image"
      />
    </div>
    <div class="content-wrapper">
      <div class="wrapper-name-and-price">
        <p class="name"> {{ product.getName }}</p>
        <p class="price">R${{ product.getPrice | number : "1.2-2" : "br" }}</p>
      </div>
      <p class="description">{{ product.getDescription }}</p>
      <div class="button-wrapper">
        <button class="add-to-cart-button">Adicionar ao carrinho</button>
        <button class="purchase-button">Comprar</button>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
