<main>
  <div [ngSwitch]="typeOfProducts">
    <h1 class="menu-title" *ngSwitchCase="'SALTY_PIZZA'">
      <span>Pizzas salgadas</span>
    </h1>
    <h1 class="menu-title" *ngSwitchCase="'SWEET_PIZZA'">
      <span>Pizzas doces</span>
    </h1>
    <h1 class="menu-title" *ngSwitchCase="'SALTY_ESFIHA'">
      <span>Esfihas salgadas</span>
    </h1>
    <h1 class="menu-title" *ngSwitchCase="'SWEET_ESFIHA'">
      <span>Esfihas doces</span>
    </h1>
    <h1 class="menu-title" *ngSwitchCase="'DRINK'"><span>Bebidas</span></h1>
  </div>

  <ul class="products">
    <li class="product" *ngFor="let product of menuProductsPage?.content">
      <a
        routerLink="/product"
        class="link-image-name"
        (click)="viewProduct($event, product)"
        (touchstart)="setInitialTouchPoint($event)"
        (touchend)="viewProduct($event, product)"
      >
        <img
          [src]="'../../../assets/images/' + product.getImage"
          alt="Foto de pizza"
          class="product-image"
        />
        <p class="product-name">
          <span>{{ product.getName }}</span>
        </p>
      </a>
      <div class="container-button-price">
        <button
          class="add-to-cart-button"
          (click)="addProductToCard($event, product)"
          (touchstart)="setInitialTouchPoint($event)"
          (touchend)="addProductToCard($event, product)"
        >
          Adicionar ao carrinho
        </button>
        <p class="product-price">
          R${{ product.getPrice | number : "1.2-2" : "br" }}
        </p>
      </div>
    </li>
  </ul>

  <ul class="available-pages" *ngIf="availablePages.length > 1">
    <li *ngFor="let availablePage of availablePages">
      <button
        class="available-page"
        [ngClass]="{ 'current-page': availablePage === currentPage + 1 }"
        (click)="changePage($event, availablePage)"
        (touchstart)="setInitialTouchPoint($event)"
        (touchend)="changePage($event, availablePage)"
      >
        {{ availablePage }}
      </button>
    </li>
  </ul>
</main>

<app-footer></app-footer>
