<main>
  <h1 class="menu-title">Bebidas</h1>

  <ul class="products">
    <li class="product" *ngFor="let product of menuProductsPage?.content">
      <a routerLink="" class="link-image-name">
        <img
          [src]="'../../../assets/images/' + product.getImage"
          alt="Foto de pizza"
          class="product-image"
        />
        <p class="product-name">
          <span>{{ product.getName }}</span>
        </p>
      </a>
      <div class="container-button-price">
        <button class="add-to-cart-button">Adicionar ao carrinho</button>
        <p class="product-price">
          R${{ product.getPrice | number : "1.2-2" : "br" }}
        </p>
      </div>
    </li>
  </ul>

  <ul class="available-pages" *ngIf="availablePages.length > 1">
    <li *ngFor="let availablePage of availablePages">
      <button
        class="available-page"
        [ngClass]="{ 'current-page': availablePage === currentPage + 1 }"
      >
        {{ availablePage }}
      </button>
    </li>
  </ul>
</main>

<app-footer></app-footer>
