<div>
  <div>
    <form [formGroup]="address">
      <ul>
        <li>
          <label for="number">Número </label>
          <input type="text" id="number" formControlName="number" />
        </li>
        <li>
          <label for="road">Rua </label>
          <input type="text" id="road" formControlName="road" />
        </li>
        <li>
          <label for="district">Bairro </label>
          <input type="text" id="district" formControlName="district" />
        </li>
        <li>
          <label for="city">Cidade </label>
          <input type="text" id="city" formControlName="city" />
        </li>
        <li>
          <label for="state">Estado </label>
          <input type="text" id="state" formControlName="state" />
        </li>
        <li>
          <button>Adicionar endereço</button>
        </li>
      </ul>
    </form>
  </div>
</div>
