<div>
  <div>
    <form>
      <ul>
        <li>
          <label for="number">Número </label>
          <input type="text" id="number" />
        </li>
        <li>
          <label for="road">Rua </label>
          <input type="text" id="road" />
        </li>
        <li>
          <label for="district">Bairro </label>
          <input type="text" id="district" />
        </li>
        <li>
          <label for="city">Cidade </label>
          <input type="text" id="city" />
        </li>
        <li>
          <label for="state">Estado </label>
          <input type="text" id="state" />
        </li>
        <li>
            <button>
                Adicionar endereço
            </button>
        </li>
      </ul>
    </form>
  </div>
</div>
