<div class="slider">
  <div class="slides">
    <input
      type="radio"
      name="slide-picker"
      id="slide-1"
      class="picker"
      checked
    />
    <input type="radio" name="slide-picker" id="slide-2" class="picker" />
    <input type="radio" name="slide-picker" id="slide-3" class="picker" />
    <input type="radio" name="slide-picker" id="slide-4" class="picker" />

    <div class="slide" id="mover">
      <picture>
        <source
          media="(max-width: 480px)"
          srcset="../../../assets/slider/mobile/slide-1.jpg"
        />
        <source
          media="(max-width: 1023px)"
          srcset="../../../assets/slider/tablet/slide-1.jpg"
        />
        <img
          src="../../../assets/slider/monitors-and-televisors/slide-1.jpg"
          alt="Bancada do restaurante"
        />
      </picture>
      <h1 class="slide-message welcome-message">
        Bem Vindo(a) a Pizzaria Zeff
      </h1>
    </div>

    <div class="slide">
      <picture>
        <source
          media="(max-width: 480px)"
          srcset="../../../assets/slider/mobile/slide-2.jpg"
        />
        <source
          media="(max-width: 1023px)"
          srcset="../../../assets/slider/tablet/slide-2.jpg"
        />
        <img
          src="../../../assets/slider/monitors-and-televisors/slide-2.jpg"
          alt="Chefe cortando pizza"
        />
      </picture>
      <h1 class="slide-message traditional-pizza-message">
        Pizzas tradicionais feitas no forno a lenha
      </h1>
    </div>

    <div class="slide">
      <picture>
        <source
          media="(max-width: 480px)"
          srcset="../../../assets/slider/mobile/slide-3.jpg"
        />
        <source
          media="(max-width: 1023px)"
          srcset="../../../assets/slider/tablet/slide-3.jpg"
        />
        <img
          src="../../../assets/slider/monitors-and-televisors/slide-3.jpg"
          alt="Pizza no forno"
        />
      </picture>
      <h1 class="slide-message cheff-message">
        Chefs com uma culinária excepcional
      </h1>
    </div>

    <div class="slide">
      <picture>
        <source
          media="(max-width: 480px)"
          srcset="../../../assets/slider/mobile/slide-4.jpg"
        />
        <source
          media="(max-width: 1023px)"
          srcset="../../../assets/slider/tablet/slide-4.jpg"
        />
        <img
          src="../../../assets/slider/monitors-and-televisors/slide-4.jpg"
          alt="Pizza sendo compartilhada"
        />
      </picture>
      <h1 class="slide-message client-message">
        Tudo para fazer com que seus momentos inesquecíveis, fiquem ainda mais
        inesquecíveis
      </h1>
    </div>

    <div class="navigation">
      <label for="slide-1" class="picker-button" id="label-slide-1" aria-disabled="true"> </label>
      <label for="slide-2" class="picker-button" id="label-slide-2" aria-disabled="true"> </label>
      <label for="slide-3" class="picker-button" id="label-slide-3" aria-disabled="true"> </label>
      <label for="slide-4" class="picker-button" id="label-slide-4" aria-disabled="true"> </label>
    </div>
  </div>
</div>
