main {
    min-height: calc(100vh - 308px);
}

.title-of-search-results {
    font-family: "content-font-medium", sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.products {
    max-width: 1024px;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.product {
    display: flex;
    padding: 15px 0px;
    border-bottom: 1px solid var(--darkgrey-color);
}

.product:last-child {
    border-bottom: none;
}

.product-link {
    flex: 1;
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.product-image {
    height: 150px;
}

.product-name {
    position: relative;
    font-family: 'content-font-medium', sans-serif;
    color: var(--black-color);
}

.product-link:hover .product-name {
    font-weight: 600;
}

.container-button-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product-price {
    display: flex;
    justify-content: flex-end;
    font-family: "number-font", sans-serif;
    font-weight: 600;
}

.add-to-cart-button {
    font-family: 'content-font-medium', sans-serif;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    background-color: inherit;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.add-to-cart-button:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.available-pages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 30px 0px 30px;
}

.available-page {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: none;
    padding: 10px;
    min-width: 36px;
    background-color: var(--dark-red-color);
    font-family: 'content-font-medium', sans-serif;
    color: var(--light-yellow-color);
    cursor: pointer;
}

.current-page {
    color: var(--white-color);
}

@media (max-width: 1023px) {

    .products {
        padding: 0px;
    }

    .product {
        flex-direction: column;
        padding: 20px 0px;
        border-bottom: none;
    }

    .product-link {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }

    .product-image {
        height: auto;
    }

    .product-name {
        font-weight: 600;
    }

    .container-button-price {
        flex-direction: row-reverse;
        padding: 0px 10px;
    }

    .product-price {
        align-items: center;
    }
}

@media (max-width: 480px) {

    .product {
        padding: 10px 0px;
    }

    .container-button-price {
        padding: 0px 10px 0px 5px;
    }

    .add-to-cart-button {
        padding: 8px;
    }

    .available-pages {
        gap: 10px;
    }
}