<main>
  <h1 class="title-of-search-results" *ngIf="quantityOfProducts > 0">
    Resultados para {{ valueSearch }}
  </h1>
  <h1 class="title-of-search-results" *ngIf="quantityOfProducts === 0">
    Infelizmente não encontramos resultados para {{ valueSearch }}
  </h1>

  <div>
    <ul class="products">
      <li class="product" *ngFor="let product of searchResultsPage?.content">
        <a
          routerLink="/product"
          class="product-link"
          (click)="viewProduct($event, product)"
          (touchstart)="setInitialTouchPoint($event)"
          (touchend)="viewProduct($event, product)"
        >
          <img
            [src]="'../../../assets/images/' + product.getImage"
            alt="Foto de pizza"
            class="product-image"
          />
          <div>
            <span class="product-name">{{ product.getName }}</span>
          </div>
        </a>
        <div class="container-button-price">
          <p class="product-price">
            R${{ product.getPrice | number : "1.2-2" : "br" }}
          </p>
          <button
            class="add-to-cart-button"
            (click)="addProductToCard($event, product)"
            (touchstart)="setInitialTouchPoint($event)"
            (touchend)="addProductToCard($event, product)"
          >
            Adicionar ao carrinho
          </button>
        </div>
      </li>
    </ul>

    <ul class="available-pages" *ngIf="availablePages.length > 1">
      <li *ngFor="let availablePage of availablePages">
        <button
          class="available-page"
          [ngClass]="{ 'current-page': availablePage === currentPage + 1 }"
          (click)="changePage($event, availablePage)"
          (touchstart)="setInitialTouchPoint($event)"
          (touchend)="changePage($event, availablePage)"
        >
          {{ availablePage }}
        </button>
      </li>
    </ul>
  </div>
</main>

<app-footer></app-footer>
