<main>
  <form [formGroup]="registerData">
    <ul>
      <li>
        <label for="name">Nome </label>
        <input
          type="text"
          id="name"
          formControlName="name"
          maxlength="100"
          (keydown)="changeToNext($event, email)"
        />
        <ng-template [ngIf]="registerData.controls.name.touched">
          <p *ngIf="registerData.controls.name.errors?.['required']">
            Por favor, insira o seu nome
          </p>
          <p
            *ngIf="!registerData.controls.name.errors?.['required'] && (registerData.controls.name.errors?.['pattern'] !== null || registerData.controls.name.errors?.['maxlength'])"
          >
            Por favor, insira um nome válido
          </p>
        </ng-template>
      </li>

      <li>
        <label for="email">Digite o seu e-mail </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          maxlength="150"
          #email
          (keydown)="changeToNext($event, password)"
        />

        <ng-template [ngIf]="registerData.controls.email.touched">
          <p *ngIf="registerData.controls.email.errors?.['required']">
            Por favor, insira o seu e-mail
          </p>
          <p
            *ngIf="!registerData.controls.email.errors?.['required'] && (registerData.controls.email.errors?.['pattern'] !== null || registerData.controls.email.errors?.['maxlength'] !== null)"
          >
            Por favor, insira um endereço de e-mail válido
          </p>
        </ng-template>
      </li>

      <li>
        <label for="password">Digite sua senha </label>
        <input
          type="password"
          id="password"
          maxlength="150"
          #password
          formControlName="password"
          (keydown)="changeToNext($event, passwordConfirmation)"
        />

        <ng-template [ngIf]="registerData.controls.password.touched">
          <p *ngIf="registerData.controls.password.errors?.['required']">
            Por favor, insira a sua senha
          </p>
          <p
            *ngIf="!registerData.controls.password.errors?.['required'] && (registerData.controls.password.errors?.['minlength'] !== null || registerData.controls.password.errors?.['maxlength'] !== null)"
          >
            Por favor, insira uma senha de 8 a 150 caracteres.
          </p>
        </ng-template>
      </li>

      <li>
        <label for="password-confirmation">Confirme sua senha </label>
        <input
          type="password"
          id="password-confirmation"
          formControlName="passwordConfirmation"
          maxlength="150"
          #passwordConfirmation
          (keydown)="registrationWithKeyboard($event)"
        />

        <ng-template
          [ngIf]="registerData.controls.passwordConfirmation.touched"
        >
          <p
            *ngIf="registerData.controls.passwordConfirmation.errors?.['required']"
          >
            Por favor, confirme sua senha.
          </p>
        </ng-template>
      </li>

      <li *ngIf="differentPasswords">
        Senhas diferentes. Verifique o valor digitado e tente novamente.
      </li>

      <li *ngIf="emailConflictMessage !== ''">
        {{ emailConflictMessage }}
      </li>

      <li *ngIf="errorInRequest">
        <p>
          Ocorreu um erro inesperado. Por favor, tente novamente mais tarde.
        </p>
      </li>

      <li>
        <button
          type="button"
          (click)="registrationWithButton($event)"
          (touchstart)="setInitialTouchPoint($event)"
          (touchend)="registrationWithButton($event)"
        >
          Criar conta
        </button>
      </li>
    </ul>
  </form>

  <div>
    <p>
      Já possui uma cadastro?
      <a routerLink="/signin" [queryParams]="{ redirect: redirect }"
        >Faça login</a
      >
    </p>
  </div>

  <div *ngIf="successInRegisteringUser">
    <div>
      <p>Seu cadastro foi realizado com sucesso.</p>
      <a [routerLink]="redirect">Ok</a>
    </div>
  </div>
</main>
