:root{
    --dark-red-color: #971001;
    --dark-red-background-hover: #801105;
    --dark-yellow-color: #F0C618;
    --light-yellow-color: #f0d360;
    --transparent-yellow: #f0d3605d;
    --black-color: #000000;
    --darkgrey-color: #cecece;
    --white-color: #ffffff;
    --blue-color: #0C12F0;
    

    
    --green-color: #18F063;
}

*{
    padding: 0px;
    margin: 0px; 
}
