<footer class="footer">
  <address class="address">
    <p class="information">Desenvolvido por Kleber Kaerk</p>
    <p class="information">
      <a
        href="https://www.linkedin.com/in/kleber-kaerk-913b61173/"
        target="_blank"
        class="link"
        rel="external"
        >Linkedin</a
      >
    </p>
    <p class="information">
      <a
        href="https://github.com/kleberkaerk"
        target="_blank"
        class="link"
        rel="external"
        >Github</a
      >
    </p>
  </address>
</footer>
